# This is currently a work in progress.  Feel free to add to it as it progresses along!!!

## This notebook is a gradual work in progress to make this data set more complete and easier for people to import and use for their own data analysis with minimal data cleaning.

In [1]:
import pandas as pd
import os

## Read in the raw data files and combine into one data frame

In [2]:
file_list = os.listdir('raw_data/')

In [75]:
d = pd.concat([pd.read_csv('raw_data/' + f) for f in file_list], keys=file_list, names = ['FileName','RowNumber'])

In [118]:
df = d.reset_index().drop('RowNumber', axis = 1)

## Load in neighborhood lookup table and join it with the data frame

In [119]:
# Load in neighborhood lookup table
nbhds = pd.read_csv('neighborhood_lookup.csv')

In [153]:
df2 = pd.merge(df, nbhds, left_on = 'Neighborhood', right_on = 'Neighborhood Number', how = 'left')
df2.drop('Neighborhood Number', axis = 1, inplace = True) # Drop duplicate nbhd number column

## Fixing column names to something more consistent

In [155]:
col_names = list(df2.columns)
df2.columns = [name.replace(' ', '') for name in col_names]

In [156]:
df2.columns

Index([u'FileName', u'AdministrativeAdjustmentIndicator', u'CADAddress', u'CADStreet', u'CodedMonth', u'Complaint', u'Count', u'Crime', u'DateOccur', u'DateOccured', u'Description', u'District', u'FlagAdministrative', u'FlagCleanup', u'FlagCrime', u'FlagUnfounded', u'ILEADSAddress', u'ILEADSStreet', u'LocationComment', u'LocationName', u'MonthReportedtoMSHP', u'Neighborhood', u'NewCrimeIndicator', u'UnfoundedCrimeIndicator', u'XCoord', u'YCoord', u'NeighborhoodName', u'NeighborhoodPrimaryDistrict', u'NeighborhoodAddlDistrict'], dtype='object')

## Working to fill in missing data

Some fields appear to just be flags for certain things (revisions, what was revised, etc.).  Replacing all the ' ' and NaN (missing data) with 'N', leaving any 'Y' in place

In [167]:
df2['AdministrativeAdjustmentIndicator'] = df2['AdministrativeAdjustmentIndicator'].replace(' ', 'N')
df2['AdministrativeAdjustmentIndicator'] = df2['AdministrativeAdjustmentIndicator'].replace(pd.np.NaN, 'N')
df2['NewCrimeIndicator'] = df2['NewCrimeIndicator'].replace(' ', 'N')
df2['NewCrimeIndicator'] = df2['NewCrimeIndicator'].replace(pd.np.NaN, 'N')
df2['FlagAdministrative'] = df2['FlagAdministrative'].replace(' ', 'N')
df2['FlagAdministrative'] = df2['FlagAdministrative'].replace(pd.np.NaN, 'N')
df2['FlagCleanup'] = df2['FlagCleanup'].replace(' ', 'N')
df2['FlagCleanup'] = df2['FlagCleanup'].replace(pd.np.NaN, 'N')
df2['FlagCrime'] = df2['FlagCrime'].replace(' ', 'N')
df2['FlagCrime'] = df2['FlagCrime'].replace(pd.np.NaN, 'N')
df2['FlagUnfounded'] = df2['FlagUnfounded'].replace(' ', 'N')
df2['FlagUnfounded'] = df2['FlagUnfounded'].replace(pd.np.NaN, 'N')
df2['UnfoundedCrimeIndicator'] = df2['UnfoundedCrimeIndicator'].replace(' ', 'N')
df2['UnfoundedCrimeIndicator'] = df2['UnfoundedCrimeIndicator'].replace(pd.np.NaN, 'N')

# Filling out some other fields with NaN's appropriately
df2['LocationName'] = df2['LocationName'].replace(' ', pd.np.NaN)
df2['LocationComment'] = df2['LocationComment'].replace(' ', pd.np.NaN)

## Here we're trying to align the crime codes in the Crime field to the Uniform Crime Reporting codes.
First we need to pad out the Crime column to be six digits, since the leading zero was trimmed in the .csv files

*Need to figure out the numbering system for these crimes.  See UCR, NIBRS, NCIC crime codes and try to make sense of it.*

In [158]:
df2['Crime'] = df2['Crime'].astype(str)
df2['Crime'] = df2['Crime'].apply(lambda x: x.zfill(6))

## Here we're merging the DateOccur and DateOccured columns, which are disjoint, but give the same information.
Combine DateOccur and DateOccured columns (no overlap confirmed, they must've just renamed it at some point)

In [179]:
df2[['DateOccur','DateOccured']]

               DateOccur       DateOccured
0                    NaN  01/01/2000 20:58
1                    NaN  01/01/2003 00:01
2                    NaN  01/01/2004 00:01
3                    NaN  01/01/2006 10:00
4                    NaN  01/01/2007 16:36
5                    NaN  01/01/2008 00:30
6                    NaN  01/01/2008 08:00
7                    NaN  01/01/2008 13:45
8                    NaN  01/03/2008 09:00
9                    NaN  01/05/2008 21:37
10                   NaN  01/08/2008 06:30
11                   NaN  01/10/2008 05:00
12                   NaN  01/10/2008 08:00
13                   NaN  01/10/2008 16:55
14                   NaN  01/11/2008 12:00
15                   NaN  01/14/2007 15:45
16                   NaN  01/14/2008 10:00
17                   NaN  01/14/2008 21:30
18                   NaN  01/15/2008 00:25
19                   NaN  01/15/2008 11:00
20                   NaN  01/18/2008 10:00
21                   NaN  01/18/2008 14:40
22                   NaN  01/18/2008 15:00
23                   NaN  01/19/2008 01:25
24                   NaN  01/19/2008 01:25
25                   NaN  01/19/2008 01:25
26                   NaN  01/19/2008 01:25
27                   NaN  01/19/2008 01:25
28                   NaN  01/20/2008 12:00
29                   NaN  01/20/2008 17:00
...                  ...               ...
441443  09/30/2015 19:00               NaN
441444  09/30/2015 19:00               NaN
441445  09/30/2015 19:00               NaN
441446  09/30/2015 19:08               NaN
441447  09/30/2015 19:08               NaN
441448  09/30/2015 19:45               NaN
441449  09/30/2015 20:15               NaN
441450  09/30/2015 20:33               NaN
441451  09/30/2015 20:35               NaN
441452  09/30/2015 21:00               NaN
441453  09/30/2015 21:15               NaN
441454  09/30/2015 21:20               NaN
441455  09/30/2015 22:00               NaN
441456  09/30/2015 22:32               NaN
441457  09/30/2015 23:03               NaN
441458  09/30/2015 23:25               NaN
441459  09/30/2015 23:35               NaN
441460  10/01/2013 08:00               NaN
441461  10/01/2013 08:00               NaN
441462  10/08/2008 00:01               NaN
441463  10/11/2013 09:50               NaN
441464  10/16/2014 11:40               NaN
441465  11/01/2014 12:00               NaN
441466  11/20/2003 00:01               NaN
441467  11/23/2014 14:14               NaN
441468  12/01/2013 08:00               NaN
441469  12/20/2013 08:00               NaN
441470  12/22/2014 16:00               NaN
441471  12/26/2014 21:20               NaN
441472  12/29/2014 11:28               NaN

[441473 rows x 2 columns]

### The below code merges the two columns without overlapping anything

In [182]:
df2['DateOccured'] = pd.concat([df2['DateOccur'].dropna(), df['DateOccured'].dropna()]).reindex_like(df2)

In [186]:
df2

,FileName,AdministrativeAdjustmentIndicator,CADAddress,CADStreet,CodedMonth,Complaint,Count,Crime,DateOccur,DateOccured,...,LocationName,MonthReportedtoMSHP,Neighborhood,NewCrimeIndicator,UnfoundedCrimeIndicator,XCoord,YCoord,NeighborhoodName,NeighborhoodPrimaryDistrict,NeighborhoodAddlDistrict
0,april2008.csv,N,4900,MAPLE,NaN,NaN,1,177000,NaN,01/01/2000 20:58,...,NaN,2008-04,53,Y,N,888708.3,1028833.0,Fountain Park,8,NaN
1,april2008.csv,N,4357,CALIFORNIA,NaN,NaN,1,067501,NaN,01/01/2003 00:01,...,NaN,2008-04,17,Y,N,896256.1,998745.9,Mount Pleasant,1,NaN
2,april2008.csv,N,4313,MARGARETTA,NaN,NaN,1,115400,NaN,01/01/2004 00:01,...,NaN,2008-04,68,Y,N,896282.4,1033555.0,O'Fallon,5,6
3,april2008.csv,N,3939,OHIO,NaN,NaN,1,115400,NaN,01/01/2006 10:00,...,NaN,2008-04,16,Y,N,897347.3,1001419.0,Dutchtown,1,NaN
4,april2008.csv,N,2612,ANNIE MALONE DR,NaN,NaN,1,091113,NaN,01/01/2007 16:36,...,NaN,2008-04,57,Y,N,895420.8,1029119.0,The Ville,8,NaN
5,april2008.csv,N,5500,DELMAR,NaN,NaN,1,021000,NaN,01/01/2008 00:30,...,NaN,2008-04,49,Y,N,883561.5,1027076.0,Visitation Park,7,NaN
6,april2008.csv,N,4465,MANCHESTER,NaN,NaN,1,067601,NaN,01/01/2008 08:00,...,RENARD PAPER COMPANY,2008-04,39,Y,N,888440.3,1017117.0,Forest Park SE,9,NaN
7,april2008.csv,N,3628,MORGANFORD,NaN,NaN,1,044026,NaN,01/01/2008 13:45,...,NaN,2008-04,15,Y,N,888024.2,1004480.0,Tower Grove South,3,NaN
8,april2008.csv,N,1034,S KINGSHIGHWAY,NaN,NaN,1,264100,NaN,01/03/2008 09:00,...,NaN,2008-04,0,Y,N,0.0,0.0,Unknown,NaN,NaN
9,april2008.csv,N,1115,HAMPTON,NaN,NaN,1,117000,NaN,01/05/2008 21:37,...,NaN,2008-04,42,Y,N,880910.0,1018021.0,Clayton-Tamm,2,NaN
10,april2008.csv,N,1402,S GRAND,NaN,NaN,-1,071013,NaN,01/08/2008 06:30,...,NaN,2008-04,31,N,Y,895226.1,1015481.0,The Gate District,9,NaN
11,april2008.csv,N,4200,SHAW,NaN,NaN,1,177000,NaN,01/10/2008 05:00,...,NaN,2008-04,27,Y,N,890321.8,1013321.0,Shaw,3,NaN
12,april2008.csv,N,4104,ROBERT,NaN,NaN,1,067701,NaN,01/10/2008 08:00,...,NaN,2008-04,4,Y,N,883701.9,993615.1,Boulevard Heights,1,NaN
13,april2008.csv,N,0,HAMPTON VILLAGE PZ,NaN,NaN,1,101000,NaN,01/10/2008 16:55,...,CARROLLTON BANK,2008-04,0,Y,N,879568.8,1004479.0,Unknown,NaN,NaN
14,april2008.csv,N,6202,WESTMINSTER PL,NaN,NaN,1,067601,NaN,01/11/2008 12:00,...,NaN,2008-04,46,Y,N,877213.4,1026698.0,Skinker-DeBaliviere,7,NaN
15,april2008.csv,N,4415,GARFIELD,NaN,NaN,-1,117000,NaN,01/14/2007 15:45,...,NaN,2008-04,57,N,Y,893179.2,1029130.0,The Ville,8,NaN
16,april2008.csv,N,2819,WINNEBAGO,NaN,NaN,1,051312,NaN,01/14/2008 10:00,...,NaN,2008-04,19,Y,N,896832.6,1003346.0,Gravois Park,3,NaN
17,april2008.csv,N,4129,MAFFITT,NaN,NaN,1,071013,NaN,01/14/2008 21:30,...,NaN,2008-04,57,Y,N,896522.4,1029266.0,The Ville,8,NaN
18,april2008.csv,N,5700,CABANNE,NaN,NaN,1,021000,NaN,01/15/2008 00:25,...,NaN,2008-04,48,Y,N,881387.9,1028684.0,West Ellendale,7,NaN
19,april2008.csv,N,3545,BINGHAM,NaN,NaN,1,142320,NaN,01/15/2008 11:00,...,NaN,2008-04,16,Y,N,893275.1,999882.6,Dutchtown,1,NaN
20,april2008.csv,N,3433,OHIO,NaN,NaN,1,065701,NaN,01/18/2008 10:00,...,NaN,2008-04,19,Y,N,897870.7,1004726.0,Gravois Park,3,NaN
21,april2008.csv,N,1900,COLEMAN,NaN,NaN,1,051312,NaN,01/18/2008 14:40,...,NaN,2008-04,59,Y,N,899591.7,1025507.0,Jeff Vanderlou,5,9
22,april2008.csv,N,3810,LEE,NaN,NaN,1,071013,NaN,01/18/2008 15:00,...,JACKS LOUNGE,2008-04,67,Y,N,900689.9,1032108.0,Fairground Neighborhood,5,NaN
23,april2008.csv,N,1551,S 7TH,NaN,NaN,1,091303,NaN,01/19/2008 01:25,...,LAFAYETTE PUB,2008-04,21,Y,N,905973.6,1011338.0,Soulard,3,NaN
24,april2008.csv,N,1551,S 7TH,NaN,NaN,1,044013,NaN,01/19/2008 01:25,...,LAFAYETTE PUB,2008-04,21,Y,N,905973.6,1011338.0,Soulard,3,NaN
25,april2008.csv,N,1551,S 7TH,NaN,NaN,1,091113,NaN,01/19/2008 01:25,...,LAFAYETTE PUB,2008-04,21,Y,N,905973.6,1011338.0,Soulard,3,NaN
26,april2008.csv,N,1551,S 7TH,NaN,NaN,1,091113,NaN,01/19/2008 01:25,...,LAFAYETTE PUB,2008-04,21,Y,N,905973.6,1011338.0,Soulard,3,NaN
27,april2008.csv,N,1551,S 7TH,NaN,NaN,1,043012,NaN,01/19/2008 01:25,...,LAFAYETTE PUB,2008-04,21,Y,N,905973.6,1011338.0,Soulard,3,NaN
28,april2008.csv,N,1235,S 14TH,NaN,NaN,1,065701,NaN,01/20/2008 12:00,...,NaN,2008-04,33,Y,N,904447.8,1013596.0,Peabody-Darst-Webbe,4,NaN
29,april2008.csv,N,5047,BANCROFT,NaN,NaN,1,067601,NaN,01/20/2008 17:00,...,NaN,2008-04,7,Y,N,883268.8,1003828.0,South Hampton,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
441443,september2015.csv,N,,,2015-09,15-050062,1,031422,09/30/2015 19:00,09/30/2015 19:00,...,NaN,NaN,6,N,N,883944.9,1000654.0,Princeton Heights,1,2
441444,september2015.csv,N,2008,RUSSELL,2015-09,15-050060,1,071013,09/30/2015 19:00,09/30/2015 19:00,...,NaN,NaN,23,N,N,901460.5,1010743.0,McKinley Heights,3,NaN
441445,september2015.csv,N,5800,THEODOSIA,2015-09,15-050127,1,065701,09/30/2015 19:00,09/30/2015 19:00,...,NaN,NaN,50,N,N,883345.2,1033929.0,Wells-Goodfellow,7,NaN
441446,september2015.csv,N,1029,HICKORY,2015-09,15-050037,1,041011,09/30/2015 19:08,09/30/2015 19:08,...,LASALLE HOUSING COMPLEX,NaN,34,N,N,905667.4,1013498.0,Lasalle,4,NaN
441447,september2015.csv,N,1029,HICKORY,2015-09,15-050037,1,041011,09/30/2015 19:08,09/30/2015 19:08,...,LASALLE HOUSING COMPLEX,NaN,34,N,N,905667.4,1013498.0,Lasalle,4,NaN
441448,september2015.csv,N,1915,OLIVE,2015-09,15-050042,1,182400,09/30/2015 19:45,09/30/2015 19:45,...,NaN,NaN,36,N,N,903703.7,1019090.0,Downtown West,4,NaN
441449,september2015.csv,N,1216,LEONARD,2015-09,15-050044,1,142320,09/30/2015 20:15,09/30/2015 20:15,...,BLUEMEYER,NaN,77,N,N,898774.4,1023673.0,Covenant Blu - Grand Center,9,NaN
441450,september2015.csv,N,4714,NEWBERRY,2015-09,15-050046,1,041011,09/30/2015 20:33,09/30/2015 20:33,...,NaN,NaN,54,N,N,890256.9,1027783.0,Lewis Place,8,NaN
441451,september2015.csv,N,3219,7TH,2015-09,15-050053,1,071030,09/30/2015 20:35,09/30/2015 20:35,...,NaN,NaN,21,N,N,902154.1,1005276.0,Soulard,3,NaN
441452,september2015.csv,N,1419,CARROLL,2015-09,15-050054,1,067701,09/30/2015 21:00,09/30/2015 21:00,...,NaN,NaN,33,N,N,903705.9,1012860.0,Peabody-Darst-Webbe,4,NaN
441453,september2015.csv,N,7131,ALABAMA,2015-09,15-050058,1,182999,09/30/2015 21:15,09/30/2015 21:15,...,NaN,NaN,1,N,N,888774.6,990714.1,Cardonlet,1,NaN
441454,september2015.csv,N,1247,WALTON,2015-09,15-050061,1,041011,09/30/2015 21:20,09/30/2015 21:20,...,NaN,NaN,53,N,N,889670.6,1028681.0,Fountain Park,8,NaN
441455,september2015.csv,N,4433,PERSHING,2015-09,15-050086,1,064711,09/30/2015 22:00,09/30/2015 22:00,...,NaN,NaN,38,N,N,890345.8,1023770.0,Central West End,7,9
441456,september2015.csv,N,,,2015-09,15-050063,1,265321,09/30/2015 22:32,09/30/2015 22:32,...,NaN,NaN,14,N,N,883366.1,1004761.0,North Hampton,2,NaN
441457,september2015.csv,N,5702,MAFFITT,2015-09,15-050072,1,265321,09/30/2015 23:03,09/30/2015 23:03,...,NaN,NaN,50,N,N,888183.1,1034600.0,Wells-Goodfellow,7,NaN
441458,september2015.csv,N,3817,COMPTON,2015-09,15-050071,1,043012,09/30/2015 23:25,09/30/2015 23:25,...,NaN,NaN,16,N,N,894878.3,1002702.0,Dutchtown,1,NaN
441459,september2015.csv,N,3800,JEFFERSON,2015-09,15-050070,1,178100,09/30/2015 23:35,09/30/2015 23:35,...,MOTOMART,NaN,19,N,N,0.0,0.0,Gravois Park,3,NaN
441460,september2015.csv,N,5336,GREER,2015-09,15-048686,1,115400,10/01/2013 08:00,10/01/2013 08:00,...,NaN,NaN,50,N,N,888124.9,1035187.0,Wells-Goodfellow,7,NaN
441461,september2015.csv,N,3816,MCCAUSLAND,2015-09,15-048147,1,115400,10/01/2013 08:00,10/01/2013 08:00,...,NaN,NaN,9,N,N,874011.8,1005930.0,Lindenwood Park,2,NaN
441462,september2015.csv,N,4800,CHIPPEWA,2015-09,15-047059,1,021000,10/08/2008 00:01,10/08/2008 00:01,...,NaN,NaN,5,N,N,0.0,0.0,Bevo Mill,1,NaN
441463,september2015.csv,N,5557,PALM,2015-09,15-049033,1,115400,10/11/2013 09:50,10/11/2013 09:50,...,NaN,NaN,46,N,N,877404.6,1027557.0,Skinker-DeBaliviere,7,NaN
441464,september2015.csv,N,1021,7TH,2015-09,14-048304,-1,071013,10/16/2014 11:40,10/16/2014 11:40,...,NaN,NaN,62,N,N,0.0,0.0,Columbus Square,4,NaN
441465,september2015.csv,N,3900,CHIPPEWA,2015-09,15-044776,1,021000,11/01/2014 12:00,11/01/2014 12:00,...,NaN,NaN,16,N,N,0.0,0.0,Dutchtown,1,NaN
441466,september2015.csv,N,1007,COLE,2015-09,15-042812,1,115400,11/20/2003 00:01,11/20/2003 00:01,...,NaN,NaN,62,N,N,907914.5,1020355.0,Columbus Square,4,NaN
441467,september2015.csv,N,4438,HOLLY,2015-09,15-045650,1,266999,11/23/2014 14:14,11/23/2014 14:14,...,NaN,NaN,68,N,N,898118.7,1035432.0,O'Fallon,5,6
441468,september2015.csv,N,4310,WILCOX,2015-09,15-045881,1,065701,12/01/2013 08:00,12/01/2013 08:00,...,NaN,NaN,5,N,N,886643.3,1000418.0,Bevo Mill,1,NaN
441469,september2015.csv,N,3900,23RD,2015-09,15-033977,1,021000,12/20/2013 08:00,12/20/2013 08:00,...,NaN,NaN,65,N,N,0.0,0.0,Hyde Park,5,NaN
441470,september2015.csv,N,3320,LAWN,2015-09,15-049509,1,091114,12/22/2014 16:00,12/22/2014 16:00,...,NaN,NaN,14,N,N,885584.5,1007109.0,North Hampton,2,NaN
441471,september2015.csv,N,,,2015-09,14-060236,-1,031111,12/26/2014 21:20,12/26/2014 21:20,...,NaN,NaN,60,N,N,0.0,0.0,St. Louis Place,4,5
441472,september2015.csv,N,5502,GRAND,2015-09,15-003098,1,266999,12/29/2014 11:28,12/29/2014 11:28,...,NaN,NaN,1,N,N,890777.0,996276.4,Cardonlet,1,NaN

## Write the file out to tab delimited file

In [95]:
df2.to_csv('clean_data/stl_crime_data.txt', sep='\t')